<<<<<<< HEAD
@import "../../global.scss";

#product_list {
	color: $WhiteColor;

	width: 100%;
	max-height: 500px;
	overflow-y: auto;

	padding: 16px;

	table {
		width: 100%;
		td {
			padding: 2px 8px;
			font-size: 1.15em;
			font-weight: 600;
			border-left: 2px solid rgba($WhiteColor, 0.25);
		}
		thead {
			td:last-child {
				border-right: 2px solid rgba($WhiteColor, 0.25);
			}
		}
		tbody {
			tr:hover {
				filter: brightness(1.5);
			}
			tr {
				user-select: none;
				background: $BlackColor1;
			}
			tr:nth-child(even) {
				background: rgba($BlackColor2, 0.25);
			}
			td {
				font-weight: 400;
			}
			td:nth-child(1) {
				width: 70px;
			}
			td:nth-child(2) {
				width: 150px;
			}
			// td:nth-child(3) {
			// width: calc();
			// }
			td:nth-child(4) {
				width: 140px;
			}
			td:nth-child(5) {
				width: 90px;
			}
			td:nth-child(6) {
				width: 140px;
				border-right: 2px solid rgba($WhiteColor, 0.25);
			}
		}
	}
	.selected_product {
		position: relative;
		&::after {
			content: "";
			width: calc(100% - 5px);
			height: calc(100% - 4px);
			position: absolute;
			left: 0;
			top: 0;
			border: 2px solid $AccentColor;
			border-radius: 4px;
		}
	}
	.bottom_border {
		width: 100%;
		height: 50px;
	}
}
=======
@import "../../global.scss";

#product_list {
	color: $WhiteColor;

	width: 100%;
	max-height: 500px;
	overflow-y: auto;

	padding: 16px;

	table {
		width: 100%;
		td {
			padding: 2px 8px;
			font-size: 1.15em;
			font-weight: 600;
			border-left: 2px solid rgba($WhiteColor, 0.25);
		}
		thead {
			td:last-child {
				border-right: 2px solid rgba($WhiteColor, 0.25);
			}
		}
		tbody {
			tr:hover {
				filter: brightness(1.5);
			}
			tr {
				user-select: none;
				background: $BlackColor1;
			}
			tr:nth-child(even) {
				background: rgba($BlackColor2, 0.25);
			}
			td {
				font-weight: 400;
			}
			td:nth-child(1) {
				width: 70px;
			}
			td:nth-child(2) {
				width: 150px;
			}
			// td:nth-child(3) {
			// width: calc();
			// }
			td:nth-child(4) {
				width: 140px;
			}
			td:nth-child(5) {
				width: 90px;
			}
			td:nth-child(6) {
				width: 140px;
				border-right: 2px solid rgba($WhiteColor, 0.25);
			}
		}
	}
	.selected_product {
		position: relative;
		&::after {
			content: "";
			width: calc(100% - 5px);
			height: calc(100% - 4px);
			position: absolute;
			left: 0;
			top: 0;
			border: 2px solid $AccentColor;
			border-radius: 4px;
		}
	}
	.bottom_border {
		width: 100%;
		height: 50px;
	}
}
>>>>>>> 8db75f9c2fcc7766c7e77cd188b6fba6b6b68574
