@import "../../global.scss";

.overflow_menu {
	position: absolute;
	width: 100%;
	height: 100dvh;

	display: grid;
	place-content: center;

	background: rgba(black, 0.25);
	color: $WhiteColor;
	&-content {
		padding: 16px 32px;
		border-radius: 6px;
		background: $BlackColor2;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		label {
			font-size: 1.25rem;
		}
		input {
			background: none;
			padding: 4px 6px;
			font-size: 1rem;
			border: 2px solid rgba($WhiteColor, 0.5);
			border-radius: 6px;
			color: $WhiteColor;
			&::placeholder {
				font-size: 1rem;
				color: $WhiteColor;
			}
		}
		.button_box {
			width: 100%;
			gap: 16px;
			justify-content: center;
			button {
				cursor: pointer;
				&.accent {
					background: $AccentColor;
					border: 2px solid rgba($WhiteColor, 0.5);
				}
				background: none;

				border: 1px solid $WhiteColor;
				color: $WhiteColor;
				border-radius: 6px;

				font-weight: 600;

				padding: 4px 8px;

				width: 100%;
				max-width: 100px;
			}
		}
		label {
			display: flex;
			gap: 8px;
			align-items: center;
		}
	}
}
